*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header{
    width: 100%;
    height: 3.4rem;
    background-color: #fff;
    position: fixed;
}

main{
    width: 100%;
    height: 3.4rem;
}

.items{
    width: 100%;
    height: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.items a{
    font-size: 1.2rem;
    color: #252525;
    font-family: Graphik-Regular;
    font: bolder;
}

.items img{
    width: 115px;
    height: 90px;
}

.btn{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.btn #btnHeader{
    width: 100px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 1.2rem;
    color: purple;
    font: bold;
}

.sec-1{
    width: 100%;
    height: 980px;
    background-Image: url('/img/secimg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.apresent{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.l-left{
    width: 56%;
    height: 50%;
    color: #fff;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 12.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.l-left h1{
    font-size: 2.9rem
}

.r-right-box{
    width: 30%;
    height: 50%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.r-right-info{
    width: 60%;
    height: 60%;
    border: 1px solid #ccc;
    padding: 1.5rem;
    color: #000;
    border-radius: 15px;
    background-color: #fff;
}

.r-right-info p{
    font-size: 1.5rem;
}

input{
    border: none;
}

#inputCPF{
    font-size: 1rem;
    border-bottom: 1px solid #ccc;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 40px;
    margin-top: 2rem;
}

#inputSubmit{
    width: 100%;
    height: 50px;
    margin-top: 2.5rem;
    text-align: left;
    border-radius: 3rem;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    color: #ccc;
}